body{
  font-family:Arial;
  background:#f4f4f4;
  display:flex;
  justify-content:center;
  padding:40px;
}
.card{
  background:white;
  padding:25px;
  border-radius:10px;
  width:350px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}
input,select,button{
  width:100%;
  padding:10px;
  margin:6px 0;
}
button{
  background:#28a745;
  color:white;
  border:none;
}
.red{color:red;}
.green{color:green;}
